[Unit]
Description=api-lite
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/api-lite
ExecStart=/opt/api-lite/backend/new-api-lite
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
